{% extends 'base.html.twig' %}

{% block title %}Hello GestionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/mickaelm/Mickael/test_save_symfony/src/Controller/GestionController.php</code></li>
        <li>Your template at <code>/home/mickaelm/Mickael/test_save_symfony/templates/gestion/index.html.twig</code></li>
    </ul>
</div>

<section id="cards_index_plat_general">

    {% for plat in plats %}
      
      <div class="cards_index_plat">
      
        <h3 class="text-center pt-1 pb-1 mt-2"> {{plat.libelle}} </h3>

        <div class="cards_index_plat_img">
        <img src="{{ asset('/assets/img/food/' ~ plat.image) }}"  alt="Image {{plat.libelle}}"> 
        </div>

       <a class="btn_commande_plat" href="{{ path('app_plat_show', {'id': plat.id}) }}">Commander</a>
      </div>

    {% else %}
       <h1 class="erreur_bdd text-danger"> Erreur dans le chargement des plats. </h1>
    {% endfor %}
</section>


{% endblock %}
